
<ng-container *ngIf ="true">
    <div class="card-table ">
        <div class="cart-product">
            <div class="table table-responsive">
                <thead>
                    <tr class="zon">
                        <th style="width: 45px;" scope="col" >Sr.No </th>
                        <th scope="col">Product Name</th>
                        <th scope="col">Product Image</th>
                        <th scope="col">Description</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Price</th>
                        <th scope="col">Total</th>
                        <th scope="col">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                     
                        <td>Apple</td>
                        <td>Apple</td>
                        <td>iphone 7</td>
                        <td>1</td>
                        <td>1</td>
                        <td> $ 568</td>
                        <td> $ 568</td>
                        <td><button class="btn btn-danger">  <i class="fa fa-trash"></i></button></td>
                      
                    </tr>
                </tbody>

               

            </div>
        </div>
    </div>

</ng-container>








<ng-container *ngIf ="false">

    <div class="container">
        <div class="card card1">
                <h5 class="card-title">My Cart</h5>
            </div>
        <div class="center foo">
            <img src="./assets/d4.png" alt="">
            <h4>Your Cart Is Empty</h4>
            <h6>Add Item to it now</h6>
            <button class="btn btn-primary">Shop Now</button>
        </div>
    </div>
  
</ng-container>