<header>
    <div class="navbar navbar-dark bg-primary shadow-sm">

        <div class="navbar-brand align-item-center d-flex">
            <i style="font-size: 40px;" class="fas fa-shipping-fast ml-3"></i>
            &nbsp;
            <strong style="font-size:25px"  >Flip-zone</strong>
            <div class="form-group">
                <input type="text" class="search" placeholder="search products">
                <i class="fa fa-search"></i>
            </div>
        </div>
        <button routerLink ="/cart" class="btn btn-primary">
            <i style="font-size:40px"  class="fa fa-cart-plus mb-3"></i>
            <div class="badge badge-danger">{{totalItem}}</div>
        </button>

    </div>

</header>
<!-- <app-products></app-products> -->